{
  "openapi": "3.1.0",
  "info": {
    "title": "qub API",
    "version": "1.0.0",
    "description": "API for qub, a timed commitment and timed publication system backed by drand timelock encryption. Seal qubs now, reveal them later."
  },
  "servers": [
    {
      "url": "https://qub.social"
    }
  ],
  "tags": [
    {
      "name": "qubs",
      "description": "Create, seal, and read qubs"
    },
    {
      "name": "Upload",
      "description": "Upload already-sealed qub bytes"
    },
    {
      "name": "Engagement",
      "description": "Watch / view counters and notify-me subscriptions"
    },
    {
      "name": "Auth",
      "description": "Magic-link email verification and identity recovery"
    },
    {
      "name": "API Keys",
      "description": "API key checkout, retrieval, and rotation"
    },
    {
      "name": "Payment",
      "description": "Stripe subscriptions plus the account-bound, prepaid Lightning Builder adapter"
    },
    {
      "name": "Moderation",
      "description": "Content reporting and denylist"
    },
    {
      "name": "Admin",
      "description": "Admin-only endpoints"
    },
    {
      "name": "Webhooks",
      "description": "Webhook registration for qub unlock notifications"
    },
    {
      "name": "Viewer",
      "description": "Public viewer page (browsers + bots)"
    },
    {
      "name": "Meta",
      "description": "API metadata"
    },
    {
      "name": "Embed",
      "description": "F4 embed loader + iframe shell + bundled iframe app for third-party page embedding"
    }
  ],
  "components": {
    "securitySchemes": {
      "turnstile": {
        "type": "http",
        "scheme": "bearer",
        "description": "Cloudflare Turnstile verification token. Despite this being listed as a bearer scheme, the token is passed in the request body as `turnstile_token`, not in the Authorization header."
      },
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key with prefix `qub_sk_`. Pass in the Authorization header as `Bearer qub_sk_...`."
      },
      "browserSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-qub_session",
        "description": "Browser-only account session. Production and staging use a host-only `Secure; HttpOnly; SameSite=Strict` cookie backed by the per-device SessionDO. The credential is never returned in JSON or exposed to JavaScript. Local development uses `qub_session_dev` without Secure. A `device_id` is not account authority."
      },
      "adminSecret": {
        "type": "http",
        "scheme": "bearer",
        "description": "Admin secret for privileged endpoints. Pass in the Authorization header as `Bearer <secret>`."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Standard error envelope. Every 4xx/5xx response carries a stable, machine-readable `code` plus an advisory English `error` message. Branch on `code`; treat `error` as human-facing text that may change.\n\n**Canonical codes** clients are most likely to branch on:\n\n- `SESSION_REQUIRED`, `SESSION_INVALID`, `SESSION_EXPIRED`, `SESSION_REVOKED` — 401 browser-session failures.\n- `STEP_UP_REQUIRED` — 401, session valid but mailbox proof is older than 10 minutes.\n- `SESSION_DEVICE_MISMATCH` — 403, a retained anonymous/quota device locator differs from the session device.\n- `SESSION_UNAVAILABLE` — 503, SessionDO/binding/account-index authority unavailable; protected routes fail closed without a `device_link` fallback.\n- `invalid_json`, `invalid_unlock_at`, `invalid_title`, `invalid_sender_label`, `invalid_text` — 400, malformed request body.\n- `invalid_content_size` — 400, `content_size` must be a positive integer JSON number matching the decoded payload length.\n- `invalid_device_id`, `invalid_email` — 400, body field shape violation (`device_id` must be 32 lowercase hex; `email` must be ASCII-only with no mixed-script IDN domain).\n- `IDEMPOTENCY_KEY_INVALID` — 400, invalid `Idempotency-Key` header.\n- `IDEMPOTENCY_IN_FLIGHT` — 409, concurrent or fail-safe-fenced retry against an in-flight idempotency claim.\n- `IDEMPOTENCY_KEY_CONFLICT` — 409, one idempotency key was reused for a different semantic mutation.\n- `IDEMPOTENCY_UNAVAILABLE` — 503, the strong idempotency authority is unavailable; billing and irreversible routes fail closed.\n- `RATE_LIMIT_IP`, `RATE_LIMIT_KEY`, `RATE_LIMIT_API_KEY`, `rate_limited` — 429.\n- `DAILY_KEY_LIMIT`, `DAILY_ACCOUNT_LIMIT` — 429, daily Arweave caps.\n- `CIRCUIT_BREAKER` — 503, global Arweave daily ceiling tripped.\n- `READS_EXHAUSTED` — 429, Enterprise / legacy hard cap.\n- `MONTHLY_CAP_REACHED`, `QUOTA_EXHAUSTED` — 402 billing/quota ceilings.\n- `TIER_INSUFFICIENT` — 403, route requires a paid plan.\n- `API_KEY_DISABLED`, `IP_NOT_ALLOWED`, `INSUFFICIENT_SCOPE`, `invalid_api_key` — API-key middleware rejections.\n- `TOKEN_USED` — 410, single-use mailbox capability replay.",
        "required": ["error", "code"],
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable, machine-readable error code (e.g. `invalid_json`, `rate_limited`, `not_found`). This is the field clients should branch on. See the schema description for the canonical list."
          },
          "error": {
            "type": "string",
            "description": "Advisory English message for humans. Not a stable interface — defaults to the `code` when no message is supplied."
          },
          "req_id": {
            "type": "string",
            "description": "Per-request correlation ID, when available. Echoes the `X-Request-Id` response header."
          }
        }
      },
      "BrowserSessionError": {
        "type": "object",
        "description": "Stable browser-session failure envelope. Bodies never contain the cookie or token.",
        "required": ["error", "code"],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "SESSION_REQUIRED",
              "SESSION_INVALID",
              "SESSION_EXPIRED",
              "SESSION_REVOKED",
              "STEP_UP_REQUIRED"
            ]
          },
          "error": { "type": "string" }
        }
      },
      "SessionDeviceMismatchError": {
        "type": "object",
        "required": ["error", "code"],
        "properties": {
          "code": { "type": "string", "const": "SESSION_DEVICE_MISMATCH" },
          "error": { "type": "string" }
        }
      },
      "SessionUnavailableError": {
        "type": "object",
        "required": ["error", "code"],
        "properties": {
          "code": { "type": "string", "const": "SESSION_UNAVAILABLE" },
          "error": { "type": "string" }
        }
      },
      "UploadAuthRequest": {
        "type": "object",
        "required": ["device_id", "content_size"],
        "properties": {
          "turnstile_token": {
            "type": "string",
            "description": "Cloudflare Turnstile token. Optional when using API key auth."
          },
          "device_id": {
            "type": "string"
          },
          "content_size": {
            "type": "integer",
            "description": "Size in bytes of the sealed content."
          }
        }
      },
      "UploadAuthResponse": {
        "type": "object",
        "required": ["allowed", "tier", "max_size"],
        "properties": {
          "allowed": {
            "type": "boolean"
          },
          "tier": {
            "type": "string"
          },
          "max_size": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "UploadRequest": {
        "type": "object",
        "required": [
          "wrapped_cbor_base64",
          "device_id",
          "content_size",
          "unlock_at",
          "qub_id_hex"
        ],
        "properties": {
          "wrapped_cbor_base64": {
            "type": "string",
            "description": "Base64-encoded selected upload payload. Private delivery sends canonical OuterWrapper CBOR and keeps K in the client URL fragment; public delivery sends bare canonical SealedQubCbor and sets `is_public: true`. The field name is retained for API compatibility. The upload route treats either shape as opaque bytes."
          },
          "device_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$",
            "description": "Device identifier (32 lowercase hex chars). Used as the KV key, rate-limit bucket, and sealed-history shard. Pattern enforced since PR S4 (Andre 2026-05-22 SYSTEMIC-THREAT-REVIEW Finding 43); previously any-string was accepted."
          },
          "turnstile_token": {
            "type": "string",
            "description": "Cloudflare Turnstile token. Optional when using API key auth."
          },
          "content_size": {
            "type": "integer",
            "description": "Size in bytes of the selected upload payload, not the plaintext body. For private delivery this is the OuterWrapper size, including AEAD and CBOR framing overhead; for public delivery it is the bare SealedQubCbor size."
          },
          "intent": {
            "type": "string",
            "enum": [
              "announcement",
              "thesis",
              "prediction",
              "letter",
              "secret",
              "commitment",
              "proof",
              "verdict"
            ],
            "description": "Optional compose intent. When present and on the allowlist, the Worker attaches it as the `Intent` storage tag for the viewer's `?from={intent}` viral-loop CTA. Unknown values are silently dropped."
          },
          "title": {
            "type": "string",
            "description": "Optional display-only title for the creator's sealed-history folder lists (`/messages`, `/history`), persisted on the per-device sealed-history index so titles surface cross-device. NFC-normalised and capped at 100 code points (matching the compose-side `SealedQub::title` bound), validated at the edge via `normaliseAndValidateText`. A hostile or over-long title is silently dropped to absent rather than failing the upload — the qub is already sealed and the canonical title rides inside the selected upload payload. The Worker never renders this declaration to viewers; it is creator-private folder metadata."
          },
          "unlock_at": {
            "type": "integer",
            "description": "Required Unix-seconds reveal time declared by the client. The upload route deliberately treats both accepted byte shapes as opaque and uses this value only for metadata, sealed-history backup, lifecycle scheduling, and the asserted transparency-log leaf. The cryptographic artifact remains governed by the inner SealedQub and drand regardless of this declaration."
          },
          "outcome_at": {
            "type": "integer",
            "description": "Optional outcome time (Unix seconds UTC) on a verdict-bearing qub (verdict-uplift-plan §3.1). Mirrors `SealRequest.outcome_at`; validated via the same shape rules (integer, positive, `>= unlock_at`, `<= now + 10 years`). The value also rides inside the selected upload payload — this surface is an out-of-band declaration so the byte-blind route can schedule the verdict-CTA email (V1.6). Persisted on the creator-lifecycle record (`cl:<tx_id>`)."
          },
          "qub_id_hex": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$",
            "description": "Required 64-char lowercase hex declaration of the inner SealedQub's `qub_id`. The byte-blind upload route uses it as metadata and in the asserted transparency-log leaf; verifiers establish the actual qub_id from the decrypted protocol fields. For private delivery it is also the OuterWrapper AEAD AAD."
          },
          "author_fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$",
            "description": "Optional 64-char lowercase hex of the creator's pubkey fingerprint (PROTOCOL.md §2.2). **Privacy-by-default — opt-in per qub.** When present and well-formed, attached as an `Author` storage tag so the viewer countdown can surface 'Sealed by @handle' after attestation lookup. **Published only with a valid `author_pubkey` + `author_pop_sig` proof of possession (QUB-UPLOAD-001):** the byte-blind Worker cannot verify the in-envelope signature, so without the detached proof the fingerprint is dropped — a direct API call cannot spoof another creator's pre-reveal byline. When omitted, no Author tag is written and the qub is unattributed. Invalid values are silently dropped."
          },
          "author_pubkey": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "Optional base64url-no-pad of the creator's 1952-byte ML-DSA-65 public key. Paired with `author_pop_sig` to prove possession of the key behind `author_fingerprint` (QUB-UPLOAD-001). The Worker requires `SHA3-256(pubkey)` to equal `author_fingerprint` and the signature to verify before publishing the `Author` tag. Send together with `author_fingerprint`."
          },
          "author_pop_sig": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "Optional base64url-no-pad of the ML-DSA-65 signature over the upload-author proof-of-possession challenge `\"QUB_UPLOAD_AUTHOR_V1\" || author_fingerprint(32) || chash(32)`, where `chash = SHA3-256(selected upload payload bytes)`. Binds the proof to this specific upload so it can't be replayed onto another."
          },
          "parent_tx_id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$",
            "description": "Optional parent qub storage tx_id (43-char base64url) for reply-chain qubs (FUTURE.md §11.1). When present and well-formed, attached as a `Parent-Tx-Id` storage tag so the viewer reveal page can render a 'Replied to {parent}' back-link without a server-side reverse index. Invalid values are silently dropped."
          },
          "verdict_outcome": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "Optional verdict outcome enum (1=Right · 2=Partial · 3=Wrong · 4=Unfalsifiable). Set ONLY when uploading a verdict qub (intent=`verdict` + valid `parent_tx_id`); ignored otherwise. The authoritative outcome rides inside the selected upload payload (opaque to this route), while this enum populates the `verdicts_for_parent:<parent>:<tx>` discovery index so the parent's reveal page can render the §5.3 Published-state inline label without decoding the verdict artifact. Values outside `1..=4` are silently dropped (verdict-uplift-plan §5.3, V1.4b)."
          },
          "parent_intent": {
            "type": "string",
            "enum": ["prediction", "commitment", "announcement", "thesis"],
            "description": "Optional parent qub intent — set ONLY when uploading a verdict qub. Lets the V1.7 subscriber-rendered fan-out cron pick the per-intent email template without a round-trip back to permanent storage for the parent's Intent tag. The Worker validates against the four verdict-bearing intents; unknown values are silently dropped and the cron skips the fan-out rather than guessing a template (verdict-uplift-plan §7.3 Path B, V1.7)."
          },
          "verdict_proof_pubkey": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "Optional base64url-no-pad of the verdict author's 1952-byte ML-DSA-65 public key. Paired with `verdict_proof_sig` to prove the uploader is the PARENT author before the Worker writes the authoritative `verdicts_for_parent` index + subscriber fan-out (QUB-UPLOAD-002). The Worker requires `SHA3-256(pubkey)` to equal the parent's published `Author` fingerprint. Set ONLY when uploading a verdict qub."
          },
          "verdict_proof_sig": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]+$",
            "description": "Optional base64url-no-pad of the ML-DSA-65 signature over the verdict-parent proof-of-possession challenge `\"QUB_VERDICT_PARENT_V1\" || parent_tx_id(43) || outcome(1) || verdict_qub_id(32)`. Binds the proof to this verdict + outcome so it can't be lifted onto another. Absent/invalid ⇒ the verdict is still durably accepted and scheduled for permanent storage but gets no authoritative parent-verdict state (fail-soft)."
          },
          "creator_email": {
            "type": "string",
            "format": "email",
            "description": "Optional creator email for lifecycle emails (DISTRIBUTION-STRATEGY §12.1 / TODOS P0-10). Forwarded only when `creator_lifecycle_opt_in` is `true`. The Worker writes a `cl:<tx_id>` KV record and fires `seal_confirmation` immediately. Validated for email-like shape; invalid values cause the opt-in to be silently dropped (the upload still succeeds)."
          },
          "creator_locale": {
            "type": "string",
            "description": "Optional BCP 47 locale tag for lifecycle emails. Defaults to `en` when absent. Persisted with the creator-lifecycle record so deferred sends (pre-reveal reminder, reveal notification, watcher milestone, anniversary) land in the right language."
          },
          "creator_lifecycle_opt_in": {
            "type": "boolean",
            "description": "Lifecycle opt-in flag. Must be `true` to enable — anything else (missing, false, truthy non-boolean) is treated as opt-out and the lifecycle email surface is skipped."
          },
          "creator_reveal_date_short": {
            "type": "string",
            "description": "Optional pre-formatted short reveal date (matches the viewer's `format_ts_short`). Surfaced verbatim in the `seal_confirmation` email body when lifecycle opt-in is active."
          },
          "wrapper_key_b64url": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$",
            "description": "Optional base64url-no-pad encoding of the 32-byte AES-256 wrapper key K (PROTOCOL.md §13.6). Engages the W13 recovery channel ONLY when the client also sets `creator_lifecycle_opt_in: true` AND `creator_email` matches the device's verified (sybil-linked) email. On the gated path the Worker composes `${origin}/c/${tx_id}#${K}`, uses it as `{link}` in the `seal_confirmation` email, and stores it on the per-identity sealed-history entry as a recovery anchor. Outside the gate, K stays in the browser; pass it only when the user has explicitly opted into the recovery channel. Malformed values are silently dropped (the lifecycle email falls back to the legacy fragment-less URL). Privacy trade-off documented in `locales/en/privacy.md` §2.3."
          },
          "is_public": {
            "type": "boolean",
            "description": "Optional public-qub flag (delivery-layer visibility, default `false`). When `true` the caller has uploaded the raw `SealedQubCbor` with NO AES-256-GCM outer wrapper (PROTOCOL.md §13.8) — tlock-only, like a pact — so the `tx_id` alone decrypts after unlock and `wrapped_cbor_base64` carries no fragment-keyed wrapper. The Worker stamps a `Visibility: public` storage tag and emits fragment-less *working* delivery links (sealed-history `delivery_url`, `seal_confirmation` email, reveal notifications). Absent / `false` keeps the wrapped, fragment-gated model. Strict-`true` only; any other value reads as private."
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "required": ["tx_id", "delivery_url"],
        "properties": {
          "tx_id": {
            "type": "string",
            "description": "Storage transaction ID."
          },
          "delivery_url": {
            "type": "string",
            "format": "uri",
            "description": "Fragment-less canonical URL `<origin>/c/<tx_id>`. For public delivery (`is_public: true`) this is the complete working URL. For private delivery the Worker never receives K on the default upload path, so callers MUST append `#<base64url(K)>` themselves; without that fragment the private qub is unreadable. Server-side `/seal` returns its complete fragment-bearing URL directly."
          },
          "short_code": {
            "type": "string",
            "description": "7-character base62 short code mapped to `tx_id` in KV. Resolves via `/s/{code}` to the canonical `/c/{tx_id}` viewer page. Absent when the allocator failed transiently — `delivery_url` is always usable as a fallback."
          },
          "qubs_remaining": {
            "type": "integer",
            "description": "Post-decrement free-tier quota for the verified identity that just sealed, after this upload counted against the shared sybil-linked counter. Present only for free-tier browser uploads made by a verified identity. Absent for creator-tier (quota lives on the entitlement record), API-key, and anonymous uploads. Clients use it to keep their local identity cache in sync without an extra round-trip to GET /api/v1/identity."
          },
          "log_seq": {
            "type": "integer",
            "minimum": 0,
            "description": "Optional zero-based transparency-log leaf position. Present only as part of the all-or-nothing log tuple when the inline LogDO append succeeded. Absence means the publication is durable but makes no transparency-log acceptance claim."
          },
          "anchor_status": {
            "type": "string",
            "enum": ["pending"],
            "description": "Present only with `log_seq` and `receipt`; means the accepted leaf is waiting for a covering anchor. It does not mean an Arweave anchor already exists."
          },
          "receipt": {
            "type": "object",
            "required": ["log_id_hex", "seq", "leaf_hash_b64", "sig_b64url"],
            "description": "Receipt returned after a successful log append. The signature is deployment-gated: `sig_b64url` is the empty string when `RECEIPT_SK` is absent or invalid, and such a receipt is not signed/non-repudiable. The current compiled `LogProfile.receipt_pubkey` is also empty until a verifier release pins the provisioned public key.",
            "properties": {
              "log_id_hex": {
                "type": "string",
                "pattern": "^[0-9a-f]{64}$"
              },
              "seq": {
                "type": "integer",
                "minimum": 0
              },
              "leaf_hash_b64": {
                "type": "string",
                "pattern": "^[A-Za-z0-9_-]{43}$",
                "description": "Base64url-no-pad SHA3-256 leaf hash."
              },
              "sig_b64url": {
                "type": "string",
                "description": "RSA-PSS receipt signature as base64url-no-pad, or the empty string when the optional receipt signer is unavailable."
              }
            }
          }
        }
      },
      "SealRequest": {
        "type": "object",
        "required": ["body", "unlock_at", "wrapper_key_b64url"],
        "properties": {
          "body": {
            "type": "string",
            "description": "Plaintext qub body to seal. Capped at 51_200 bytes (50 KB) at the route layer to match the Arweave chunk-economic sweet spot. The CBOR-envelope layer carries a separate 102_400 (100 KB) cap that accommodates pact bodies arriving via `/upload`; the route-level cap is text-qub-specific."
          },
          "unlock_at": {
            "type": "integer",
            "description": "Unix timestamp (seconds) for when the qub should unlock. **MUST** be a finite integer strictly greater than `now` and no more than 10 years in the future. NaN, Infinity, and non-integer floats are rejected at the API edge (Andre 2026-05-22 Finding 1) — sending one returns 400 `invalid_unlock_at`."
          },
          "wrapper_key_b64url": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$",
            "minLength": 43,
            "maxLength": 43,
            "description": "Required caller-generated base64url-no-pad encoding of a cryptographically random 32-byte AES-256-GCM outer-wrapper key K. Generate and retain K before calling `/seal`; the Worker uses it only in memory and never persists it. Idempotency replays deliberately redact K, so the retained caller copy is what makes a lost first response recoverable: append it as `#<K>` to the replayed fragment-less delivery URL."
          },
          "sender_label": {
            "type": "string",
            "maxLength": 80,
            "description": "Optional display name for the sender. Subject to the same Unicode hygiene as `title` — NFC-normalised; hostile codepoints (bidi-override, ZWSP, tag-block, BOM, C0/C1) are rejected. Returns 400 `invalid_sender_label` on violation."
          },
          "title": {
            "type": "string",
            "maxLength": 100,
            "description": "Optional plaintext title surfaced on the viewer countdown before reveal (PROTOCOL.md §3.2 v1.0). 1..=100 NFC code points. Bound to `qub_id` via `title_hash` (PROTOCOL.md §4.1) so a gateway cannot swap the displayed title without invalidating qub identity. Empty strings are rejected — the canonical encoding of an absent title is field omission.\n\nUnicode hygiene (PR 0c, Andre Finding 15): rejects bidi overrides (U+202A-U+202E, U+2066-U+2069), ZWSP (U+200B), tag-block (U+E0000-U+E007F), BOM (U+FEFF), C0+DEL, and C1 controls. ZWJ / ZWNJ / variation selectors / LRM / RLM are KEPT because they're load-bearing for Devanagari / Arabic / emoji / RTL text. Returns 400 `invalid_title`.\n\nContent policy (PR 1d, Andre Finding 12): titles that combine urgency wording (`verify`, `confirm`, `suspended`, `urgent`, ...) with a reserved brand name (Chase, PayPal, Apple, ...) reject as `invalid_title` to defang brand-impersonation phishing through the share-preview countdown."
          }
        }
      },
      "SealResponse": {
        "type": "object",
        "required": [
          "tx_id",
          "delivery_url",
          "qub_id",
          "unlock_at",
          "drand_round",
          "wrapper_key_b64url"
        ],
        "properties": {
          "tx_id": {
            "type": "string"
          },
          "delivery_url": {
            "type": "string",
            "format": "uri",
            "description": "Delivery URL with the OuterWrapper key embedded as the URL fragment (`#<base64url(K)>`, PROTOCOL.md §13.6). Sharing this URL hands the receiver everything needed to read the qub; truncating the fragment makes the qub unreadable."
          },
          "qub_id": {
            "type": "string"
          },
          "unlock_at": {
            "type": "number"
          },
          "drand_round": {
            "type": "integer"
          },
          "short_delivery_url": {
            "type": "string",
            "format": "uri",
            "description": "Full short-URL form `https://qub.social/s/<code>#<key>` when a 7-character base62 short code was allocated at seal time. Prefer this for share surfaces. Absent if allocation failed transiently — `delivery_url` is always usable as a fallback."
          },
          "wrapper_key_b64url": {
            "type": "string",
            "description": "Base64url-no-pad encoding of the 32-byte AES-256-GCM wrapper key K (PROTOCOL.md §13.6). Returned so callers that build their own URLs (e.g. for offline distribution) can compose the fragment themselves. The Worker never persists K — it lives only in this response. Identical to the value embedded in `delivery_url`."
          }
        }
      },
      "QubReadResponse": {
        "type": "object",
        "required": ["tx_id", "wrapped_cbor_base64"],
        "description": "Stored qub bytes plus minimal storage metadata. Private deliveries return canonical OuterWrapper CBOR and require client-held K; public deliveries return bare canonical SealedQubCbor. The Worker does not decrypt either shape. The legacy field name `wrapped_cbor_base64` is retained for API compatibility.",
        "properties": {
          "tx_id": {
            "type": "string"
          },
          "wrapped_cbor_base64": {
            "type": "string",
            "description": "Base64-encoded stored bytes: canonical OuterWrapper CBOR for private delivery or bare canonical SealedQubCbor for public delivery."
          },
          "arweave_block_timestamp": {
            "type": "number",
            "description": "Storage block timestamp (Unix seconds UTC). Best-effort — absent for unconfirmed transactions."
          },
          "intent": {
            "type": "string",
            "description": "Compose intent that the creator selected (if any), read from the `Intent` storage tag. Used by the viewer's 'Seal your own qub' CTA."
          }
        }
      },
      "EntitlementsResponse": {
        "type": "object",
        "required": ["tier", "qubs_remaining"],
        "properties": {
          "tier": {
            "type": "string",
            "enum": ["free", "pro"]
          },
          "qubs_remaining": {
            "type": "integer"
          },
          "qubs_allowance": {
            "type": "integer",
            "description": "Per-period allowance of the highest active Pro source (500 monthly / 6,000 annual). Absent for free tier or when no source is active."
          },
          "purchased_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix epoch seconds at which the entitlement was first purchased (sourced from the rail's checkout / receipt timestamp). Absent on the free-tier response."
          },
          "current_period_end": {
            "type": "integer",
            "format": "int64",
            "description": "Unix epoch seconds when the current paid period ends. Derived from `max(period_end)` across active sources (PAYMENTS.md v1.0 §4.4). Absent for Free customers and for Pro customers before the first renewal lands."
          },
          "subscription_status": {
            "type": "string",
            "enum": ["active", "past_due", "cancelled"],
            "description": "Highest-level status across active payment sources (PAYMENTS.md v1.0 §4.4). Absent when the entitlement has no payment sources."
          },
          "sources_summary": {
            "type": "array",
            "description": "Per-rail summary so the client can render the right cancellation surface (PAYMENTS.md §11.2 / §14). Provider-agnostic — never includes per-rail customer / subscription / transaction IDs.",
            "items": {
              "type": "object",
              "required": ["provider", "sku", "status", "period_end"],
              "properties": {
                "provider": {
                  "type": "string",
                  "enum": [
                    "stripe",
                    "apple",
                    "google",
                    "telegram",
                    "crypto",
                    "regional"
                  ]
                },
                "sku": {
                  "type": "string",
                  "enum": ["pro_monthly", "pro_annual", "builder_monthly"]
                },
                "status": {
                  "type": "string"
                },
                "period_end": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": ["sku", "device_id"],
        "properties": {
          "sku": {
            "type": "string",
            "enum": ["pro_monthly", "pro_annual"],
            "description": "Canonical Pro SKU. The Worker resolves the deploy-pinned Stripe Price ID; callers cannot select an arbitrary price."
          },
          "device_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$",
            "description": "Non-secret device entitlement/quota locator. With no cookie, checkout is explicitly anonymous and device-scoped even if a stale device_link exists. With a valid browser session, it must equal the session device or the request fails with SESSION_DEVICE_MISMATCH."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Optional untrusted Stripe pre-fill in anonymous mode. It never establishes account or browser-login authority. Account-bound checkout derives the canonical email from the recent session principal."
          },
          "locale": {
            "type": "string",
            "description": "BCP 47 locale tag captured for billing communications. A webhook cannot use it to create identity authority."
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "required": ["checkout_url"],
        "properties": {
          "checkout_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ApiKeyCheckoutResponse": {
        "type": "object",
        "required": ["checkout_url", "session_id", "retrieval_secret"],
        "properties": {
          "checkout_url": {
            "type": "string",
            "format": "uri"
          },
          "session_id": {
            "type": "string",
            "pattern": "^cs_",
            "description": "Stripe `cs_...` session id. Used as the sessionStorage key under which the client persists `retrieval_secret` as a fragment-loss fallback."
          },
          "retrieval_secret": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$",
            "description": "F-01: 43-char base64url retrieval secret. Required body field on `POST /api/v1/api-keys/provisioned`. Also rides as the `#rs=` fragment on the success_url so the WASM client can recover it after Stripe's redirect."
          }
        }
      },
      "LightningQuoteResponse": {
        "type": "object",
        "required": [
          "payment_id",
          "payment_request",
          "lightning_uri",
          "amount_sat",
          "fiat",
          "quote",
          "expires_at",
          "expires_at_unix",
          "retrieval_secret"
        ],
        "properties": {
          "payment_id": {
            "type": "string",
            "format": "uuid",
            "description": "Reyls payment identifier. Also the non-secret lookup factor for capability-bound API-key delivery."
          },
          "payment_request": {
            "type": "string",
            "description": "BOLT11 invoice issued by Reyls."
          },
          "lightning_uri": {
            "type": "string",
            "pattern": "^lightning:ln",
            "description": "Wallet deep link containing the exact BOLT11 invoice."
          },
          "amount_sat": {
            "type": "integer",
            "minimum": 1,
            "description": "Authoritative fixed satoshi amount for this invoice."
          },
          "fiat": {
            "type": "object",
            "required": ["currency", "minor_value"],
            "properties": {
              "currency": { "type": "string", "const": "USD" },
              "minor_value": { "type": "integer", "const": 2900 }
            }
          },
          "quote": {
            "type": "object",
            "required": ["rate_microusd_per_btc", "quoted_at", "evidence_ref"],
            "properties": {
              "rate_microusd_per_btc": {
                "type": "integer",
                "minimum": 1
              },
              "quoted_at": { "type": "string", "format": "date-time" },
              "evidence_ref": {
                "type": "string",
                "pattern": "^[0-9a-f]{64}$"
              }
            }
          },
          "expires_at": { "type": "string", "format": "date-time" },
          "expires_at_unix": { "type": "integer", "minimum": 1 },
          "retrieval_secret": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$",
            "description": "Browser-held retrieval capability. Persist in session storage; never place it in a query string or log."
          }
        }
      },
      "LightningAvailabilityResponse": {
        "type": "object",
        "required": ["enabled"],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "True only when new-invoice creation is enabled and fully configured. Existing settlement and recovery remain live when false."
          }
        }
      },
      "LightningQuoteReplayResponse": {
        "type": "object",
        "required": [
          "payment_id",
          "payment_request",
          "lightning_uri",
          "amount_sat",
          "fiat",
          "quote",
          "expires_at",
          "expires_at_unix",
          "retrieval_unavailable_on_replay"
        ],
        "properties": {
          "payment_id": { "type": "string", "format": "uuid" },
          "payment_request": { "type": "string" },
          "lightning_uri": { "type": "string", "pattern": "^lightning:ln" },
          "amount_sat": { "type": "integer", "minimum": 1 },
          "fiat": { "type": "object" },
          "quote": { "type": "object" },
          "expires_at": { "type": "string", "format": "date-time" },
          "expires_at_unix": { "type": "integer", "minimum": 1 },
          "retrieval_unavailable_on_replay": {
            "type": "boolean",
            "const": true
          }
        }
      },
      "LightningStatusResponse": {
        "type": "object",
        "required": [
          "payment_id",
          "state",
          "amount_sat",
          "expires_at",
          "key_ready",
          "grant_kind",
          "period_end"
        ],
        "properties": {
          "payment_id": { "type": "string", "format": "uuid" },
          "state": {
            "type": "string",
            "enum": ["pending", "provisioned", "expired", "revoked", "refunded"]
          },
          "amount_sat": { "type": "integer", "minimum": 1 },
          "expires_at": { "type": "integer", "minimum": 1 },
          "key_ready": { "type": "boolean" },
          "grant_kind": {
            "type": ["string", "null"],
            "enum": ["new_key", "renewal", null]
          },
          "period_end": { "type": ["integer", "null"] }
        }
      },
      "LightningReceipt": {
        "type": "object",
        "required": [
          "payment_id",
          "state",
          "account_id",
          "key_hash",
          "amount_sat",
          "fiat",
          "rate_microusd_per_btc",
          "quote_evidence_ref",
          "payment_hash",
          "committed_at",
          "period_end",
          "grant_kind",
          "receipt_aud_fmv_status",
          "receipt_aud_fmv",
          "receipt_fmv_source",
          "refund_audit_ref",
          "reconcile_attempts",
          "last_reconcile_error"
        ],
        "properties": {
          "payment_id": { "type": "string", "format": "uuid" },
          "state": {
            "type": "string",
            "enum": ["pending", "provisioned", "expired", "revoked", "refunded"]
          },
          "account_id": { "type": "string" },
          "key_hash": { "type": ["string", "null"] },
          "amount_sat": { "type": "integer", "minimum": 1 },
          "fiat": {
            "type": "object",
            "required": ["currency", "minor_value"],
            "properties": {
              "currency": { "type": "string", "const": "USD" },
              "minor_value": { "type": "integer", "const": 2900 }
            }
          },
          "rate_microusd_per_btc": { "type": "integer", "minimum": 1 },
          "quote_evidence_ref": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "payment_hash": { "type": ["string", "null"] },
          "committed_at": { "type": ["integer", "null"] },
          "period_end": { "type": ["integer", "null"] },
          "grant_kind": {
            "type": ["string", "null"],
            "enum": ["new_key", "renewal", null]
          },
          "receipt_aud_fmv_status": {
            "type": "string",
            "enum": ["pending", "complete", "failed"]
          },
          "receipt_aud_fmv": { "type": ["string", "null"] },
          "receipt_fmv_source": { "type": ["string", "null"] },
          "refund_audit_ref": { "type": ["string", "null"] },
          "reconcile_attempts": { "type": "integer", "minimum": 0 },
          "last_reconcile_error": { "type": ["string", "null"] }
        }
      },
      "ReportRequest": {
        "type": "object",
        "required": ["tx_id", "reason"],
        "properties": {
          "tx_id": {
            "type": "string"
          },
          "reason": {
            "type": "string",
            "enum": ["illegal", "harassment", "personal_info", "other"]
          },
          "text": {
            "type": "string",
            "maxLength": 8000,
            "description": "Optional free-text description (up to 2000 Unicode code points; the byte-length cap above is generous). NFC-normalised and screened for hostile codepoints (bidi-override, ZWSP, tag-block, BOM, C0/C1) at the API edge so a malicious reporter can't smuggle a phishing payload through the admin-notification email body. Returns 400 `invalid_text` on violation. Added in PR S5 (Andre 2026-05-22 SYSTEMIC-THREAT-REVIEW Finding 51)."
          }
        }
      },
      "DenylistRequest": {
        "type": "object",
        "required": ["action", "tx_id"],
        "properties": {
          "action": {
            "type": "string",
            "enum": ["add", "remove"],
            "description": "`add` adds the qub to the denylist (viewer refuses to render); `remove` lifts the denylist."
          },
          "tx_id": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "WebhookCreateRequest": {
        "type": "object",
        "required": ["tx_id", "url", "secret"],
        "properties": {
          "tx_id": {
            "type": "string",
            "description": "Storage transaction ID to watch."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive the webhook POST."
          },
          "secret": {
            "type": "string",
            "minLength": 16,
            "description": "Shared secret used for HMAC-SHA256 signature verification. The Worker sends the signature as `Qub-Signature: t=<unix>,v1=<hex>` where `<hex>` is `HMAC_SHA256(secret, '<unix>.<rawBody>')`. Receivers MUST verify the HMAC over the timestamp-prefixed payload and reject deliveries where `now - t > 300` (5-minute replay window). The `v1=` algorithm tag is forward-compatible — future rotations may add `v2=` alongside `v1=` during a deprecation window. Minimum 16 characters."
          }
        }
      },
      "WebhookCreateResponse": {
        "type": "object",
        "required": ["webhook_id"],
        "properties": {
          "webhook_id": {
            "type": "string"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "required": ["webhook_id", "tx_id", "url"],
        "properties": {
          "webhook_id": {
            "type": "string"
          },
          "tx_id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "QubMetaResponse": {
        "type": "object",
        "description": "Lightweight metadata for a sealed qub. All fields are optional — absent fields mean the GraphQL fetch failed, the transaction is not yet confirmed in a block, or the corresponding storage tag is not present.",
        "properties": {
          "arweave_block_timestamp": {
            "type": "integer",
            "description": "Unix seconds when the qub's storage transaction was first included in a block."
          },
          "intent": {
            "type": "string",
            "description": "Intent tag set at compose time. One of eight canonical framings — seven user-selectable from the compose pill row plus `verdict`, the system-emitted intent for a chained creator self-grading qub.",
            "enum": [
              "announcement",
              "thesis",
              "prediction",
              "letter",
              "secret",
              "commitment",
              "proof",
              "verdict"
            ]
          },
          "parent_tx_id": {
            "type": "string",
            "description": "Parent qub's storage tx_id (43-char base64url) when this qub was sealed as a reply via `?reply_to=<parent_tx>`. Read from the `Parent-Tx-Id` storage tag. Absent for non-reply qubs. Used by the viewer reveal page to render a 'Replied to {parent}' back-link without a server-side reverse index."
          },
          "author_fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$",
            "description": "Lowercase 64-char hex fingerprint of the creator's signing pubkey. Read from the `Author` storage tag. **Absent by default** — under privacy-by-default, the Author tag is opt-in per qub at seal time. Present only on qubs the creator chose to attribute publicly; the viewer countdown then renders 'Sealed by @handle' after attestation lookup, and falls back to 'Sealed anonymously' (or no author line) when this field is absent."
          },
          "watching": {
            "type": "integer",
            "description": "Current watching counter for the qub. Read from the `watch:<tx_id>` KV counter. Both the qub.social viewer and the embed iframe re-poll this endpoint every 30s during countdown so the figure climbs live; polling halts in the final minute before unlock to avoid racing the reveal transition. Absent if the counter read failed transiently."
          },
          "reactions": {
            "type": "object",
            "description": "Aggregate reaction tallies for a revealed prediction qub. Absent for unrevealed qubs and for qubs with no reactions yet.",
            "properties": {
              "called_it": {
                "type": "integer",
                "description": "Count of `called_it` reactions."
              },
              "wrong": {
                "type": "integer",
                "description": "Count of `wrong` reactions."
              },
              "total": {
                "type": "integer",
                "description": "`called_it + wrong` — server-computed so the client never miscounts when hydrating."
              }
            }
          },
          "denylisted": {
            "type": "boolean",
            "description": "True if the qub has been removed from public viewing via the moderation denylist. The F4 embed iframe checks this before fetching stored bytes."
          }
        }
      },
      "EngagementCountResponse": {
        "type": "object",
        "required": ["count"],
        "properties": {
          "count": {
            "type": "integer",
            "description": "Current count after this increment. Returns 0 if rate-limited (so the client can render zero or its cached value rather than an error)."
          }
        }
      },
      "NotifySubscribeRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address to subscribe. Max 200 chars; the domain is lowercased on store."
          },
          "unlock_at": {
            "type": "integer",
            "description": "Unix seconds when the qub unlocks. Strongly preferred — without it the cron has no way to know when to send the email."
          },
          "locale": {
            "type": "string",
            "description": "BCP 47 locale tag (e.g. `en`, `pt-BR`). Picks the language for the reveal email. Falls back to `en` if missing or unrecognised."
          },
          "intent": {
            "type": "string",
            "enum": [
              "prediction",
              "letter",
              "secret",
              "announcement",
              "thesis",
              "commitment",
              "proof",
              "verdict"
            ],
            "description": "Compose intent of the subscribed qub. Captured at subscribe time so the reveal email picks an intent-aware subject + body variant where one exists (`The prediction reveals now.` etc). Optional — omitted, unknown, or per-intent-template-less values fall back to the generic notify template. The server validates against the allowlist and silently drops anything else."
          }
        }
      },
      "OkResponse": {
        "type": "object",
        "required": ["ok"],
        "properties": {
          "ok": {
            "type": "boolean"
          }
        }
      },
      "MagicLinkRequest": {
        "type": "object",
        "required": ["email", "device_id"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address to send the magic link to. Max 200 chars."
          },
          "device_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$",
            "description": "Device identifier (32 hex chars). The verify path attaches this device to the resulting identity."
          },
          "locale": {
            "type": "string",
            "description": "BCP 47 locale tag for the email body. Persisted onto the identity record so future server-sent emails use the same language."
          },
          "staging_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$",
            "description": "Optional pact staging ID. When present, the verify handler looks up the staged pact, matches the counterparty email, and writes a short-lived `pact-email-verified` marker that the cosign endpoint requires."
          },
          "cosigner_fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$",
            "description": "Optional PC-3 fingerprint binding. Requires `staging_id` in the same request. When present, the verify handler stores the SHA3-256 fingerprint in the `pact-email-verified` marker; the cosign endpoint then rejects any submitted `cosigner_pubkey` whose hash doesn't match. Prevents a phished email click from being used to co-sign with an unrelated keypair."
          }
        }
      },
      "VerifyRequest": {
        "type": "object",
        "required": ["token", "device_id"],
        "properties": {
          "token": {
            "type": "string",
            "description": "The signed token from the magic link URL. Format: `base64url(payload).base64url(sig)`. HMAC-signed, single-use, expires 15 minutes after issue."
          },
          "device_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$",
            "description": "The clicking browser's persisted device identifier. Required for both preflight and consumption."
          },
          "preflight": {
            "type": "boolean",
            "default": false,
            "description": "When true, validate the signed token and report whether it would replace another account on this device, without consuming the token or mutating identity/session state."
          },
          "account_switch_confirmed": {
            "type": "boolean",
            "default": false,
            "description": "Explicit user confirmation that this verification may replace a different account currently linked to the device. Required at commit time when the Worker detects an account switch; ignored for same-account and first-account verification."
          },
          "pubkey_b64url": {
            "type": "string",
            "description": "Optional — base64url-encoded ML-DSA-65 public key (1952 bytes). When supplied together with `signature_b64url`, the Worker verifies a proof-of-possession signature over `\"QUB_IDENTITY_AUTH_V1\" || utf8(token)` and, on success, writes an email attestation record binding the key's SHA3-256 fingerprint to the verified email — a single round-trip that replaces the standalone attestation begin/verify flow for first-time signing-key setup. Soft-fails: an invalid signature, key-size mismatch, or conflict with an existing different-email attestation downgrades silently to a viewer-only verify (the attestation just isn't written). Absent = viewer-only sign-in, no attestation."
          },
          "signature_b64url": {
            "type": "string",
            "description": "Optional — base64url-encoded ML-DSA-65 signature (3309 bytes) over `\"QUB_IDENTITY_AUTH_V1\" || utf8(token)`. Paired with `pubkey_b64url`; both must be supplied together."
          }
        }
      },
      "SignoutRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Empty body. The ambient cookie selects the exact browser session; callers cannot name another device/account."
      },
      "SignoutResponse": {
        "type": "object",
        "required": ["ok"],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          }
        }
      },
      "EmailChangeBeginRequest": {
        "type": "object",
        "required": ["new_email"],
        "properties": {
          "new_email": {
            "type": "string",
            "format": "email",
            "description": "Proposed new login email. Validated, normalised, risk-classified (when the email-risk flag is enabled), and checked for collision against an existing identity before any mail is sent."
          },
          "locale": {
            "type": "string",
            "description": "BCP 47 locale tag for both outbound emails. Falls back to the session account's persisted locale."
          }
        }
      },
      "EmailChangeBeginResponse": {
        "type": "object",
        "required": ["ok", "expires_at"],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "expires_at": {
            "type": "integer",
            "description": "Unix seconds UTC when the pending record (and both tokens) expire. 30 minutes after the request."
          }
        }
      },
      "EmailChangeTokenRequest": {
        "type": "object",
        "required": ["token"],
        "properties": {
          "token": {
            "type": "string",
            "description": "The signed token from the verify or cancel link. Format: `base64url(payload).base64url(sig)`. HMAC-signed, single-use, 30-minute TTL. Verify and cancel tokens are distinguished by the `kind` field on the payload — a verify endpoint refuses a cancel token (and vice versa) with `error: \"wrong_kind\"`."
          }
        }
      },
      "EmailChangeVerifyResponse": {
        "type": "object",
        "required": ["ok", "email", "tier", "qubs_remaining", "sealed_history"],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The new login email — the swap completed atomically and this is now the canonical identifier."
          },
          "tier": {
            "type": "string",
            "enum": ["free", "creator", "builder"]
          },
          "qubs_remaining": {
            "type": "integer"
          },
          "handle": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Handle, preserved across the swap (handle is owned by the identity record, not the email)."
          },
          "sealed_history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SealedHistoryEntry"
            }
          }
        }
      },
      "SealedHistoryEntry": {
        "type": "object",
        "required": ["tx_id", "intent", "sealed_at", "unlock_at"],
        "description": "A single qub in the per-identity sealed-history index. Deliberately omits any preview or content fields — the server-side index is just pointers.",
        "properties": {
          "tx_id": {
            "type": "string",
            "description": "Arweave transaction ID of the sealed qub."
          },
          "intent": {
            "type": ["string", "null"],
            "description": "Compose intent (e.g. \"prediction\"), or null when none was selected."
          },
          "sealed_at": {
            "type": "integer",
            "description": "When the qub was sealed (Unix seconds UTC)."
          },
          "unlock_at": {
            "type": ["integer", "null"],
            "description": "Scheduled unlock time (Unix seconds UTC), or null when unknown."
          },
          "delivery_url": {
            "type": "string",
            "description": "Full delivery URL including the wrapper-key fragment. Present only when the creator was email-verified, opted into lifecycle emails, and supplied the wrapper key at upload time."
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "required": ["ok", "email", "tier", "qubs_remaining", "sealed_history"],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "tier": {
            "type": "string",
            "enum": ["free", "creator", "builder"]
          },
          "qubs_remaining": {
            "type": "integer",
            "description": "Free-tier qub credits remaining for this identity."
          },
          "sealed_history": {
            "type": "array",
            "description": "Per-identity sealed-history index (capped server-side). The client merges this into its local IndexedDB cache.",
            "items": {
              "$ref": "#/components/schemas/SealedHistoryEntry"
            }
          },
          "attestation_created": {
            "type": "boolean",
            "description": "Combined verify+sign outcome. Only present when the request included `pubkey_b64url` + `signature_b64url`. `true` = attestation was written (fingerprint now bound to the verified email); `false` = signature was invalid, key size wrong, or the fingerprint was already bound to a different email (the client should surface the conflict and fall back to the standalone attestation flow). Absent = no attestation was attempted (viewer-only sign-in)."
          },
          "pact_binding": {
            "type": "boolean",
            "description": "Pact email-binding outcome. Only present when the originating magic-link request carried a `staging_id`. `true` = a 15-minute `pact-email-verified` marker was written for the staged pact and the verified email matches the counterparty contact recorded on the staging record (the cosign endpoint will accept this Party B). `false` = staging id was unknown, expired, or the verified email did not match. Absent = no pact context was on the magic-link token."
          },
          "pact_staging_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$",
            "description": "The staged pact's id, echoed back so the client can route the user to `/p/<staging_id>` to complete co-sign. Only present when `pact_binding` is true."
          },
          "pact_expected_email": {
            "type": "string",
            "format": "email",
            "description": "The counterparty email recorded on the staging record. Only present when the magic-link request carried a `staging_id` (returned even on `pact_binding: false` so the client can render an actionable mismatch message)."
          },
          "pact_initiator_name": {
            "type": "string",
            "description": "Display name of the pact's initiator (Party A) — used by the staging UI to greet Party B with context. Only present when `pact_binding` is true."
          }
        }
      },
      "VerifyPreflightResponse": {
        "type": "object",
        "required": ["ok", "email", "account_switch"],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Normalised target email from the validated token."
          },
          "account_switch": {
            "type": "boolean",
            "description": "True when consuming this token would replace a different account currently linked to the clicking device."
          }
        }
      },
      "IdentityResponse": {
        "type": "object",
        "required": [
          "ok",
          "email",
          "tier",
          "qubs_remaining",
          "sealed_history",
          "locale"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "tier": {
            "type": "string",
            "enum": ["free", "creator", "builder"]
          },
          "qubs_remaining": {
            "type": "integer"
          },
          "sealed_history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SealedHistoryEntry"
            }
          },
          "locale": {
            "type": "string",
            "description": "BCP 47 locale stored on the identity record. Defaults to `en` for legacy identities without one."
          }
        }
      },
      "CreatorQubsResponse": {
        "type": "object",
        "required": [
          "oldest_sealed",
          "next_reveal",
          "aggregate_watchers",
          "qub_count",
          "truncated"
        ],
        "description": "F12 — identity-scoped summary of a creator's sealed qubs.",
        "properties": {
          "oldest_sealed": {
            "description": "The earliest entry in the creator's sealed_history, or null if they have sealed nothing.",
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/CreatorQubsEntry"
              }
            ]
          },
          "next_reveal": {
            "description": "The next qub whose unlock_at is in the future, or null when every qub has already revealed.",
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/CreatorQubsNextReveal"
              }
            ]
          },
          "aggregate_watchers": {
            "type": "integer",
            "description": "Sum of `watch:<tx_id>` across every qub in the creator's history."
          },
          "qub_count": {
            "type": "integer"
          },
          "truncated": {
            "type": "boolean",
            "description": "True when the history exceeded 200 entries and the aggregate was computed over the most-recent-200 slice."
          }
        }
      },
      "CreatorQubsEntry": {
        "type": "object",
        "required": ["tx_id", "sealed_at", "unlock_at", "intent"],
        "properties": {
          "tx_id": {
            "type": "string"
          },
          "sealed_at": {
            "type": "integer",
            "description": "Unix seconds UTC."
          },
          "unlock_at": {
            "type": ["integer", "null"]
          },
          "intent": {
            "type": ["string", "null"]
          }
        }
      },
      "CreatorQubsNextReveal": {
        "type": "object",
        "required": [
          "tx_id",
          "sealed_at",
          "unlock_at",
          "intent",
          "days_remaining"
        ],
        "properties": {
          "tx_id": {
            "type": "string"
          },
          "sealed_at": {
            "type": "integer"
          },
          "unlock_at": {
            "type": "integer"
          },
          "intent": {
            "type": ["string", "null"]
          },
          "days_remaining": {
            "type": "integer"
          }
        }
      },
      "SharesMedianResponse": {
        "type": "object",
        "required": ["n", "p50", "p95", "mean", "max", "truncated"],
        "description": "M2 — distribution-wide shares-per-qub percentiles. Caught by the openapi-coverage-smoke test: handler emits n/mean/max in addition to the percentile fields, and the count field on the prior schema was actually returned as `n`.",
        "properties": {
          "n": {
            "type": "integer",
            "description": "Sample size (number of qubs included in the distribution)."
          },
          "p50": {
            "type": "number"
          },
          "p95": {
            "type": "number"
          },
          "mean": {
            "type": "number"
          },
          "max": {
            "type": "number"
          },
          "truncated": {
            "type": "boolean",
            "description": "True if the underlying KV list was truncated and the percentiles are computed over a sample, not the full distribution."
          }
        }
      },
      "ActivationCohortResponse": {
        "type": "object",
        "required": [
          "cohort_size",
          "activated_count",
          "activation_rate",
          "lookback_days",
          "activation_window_days",
          "truncated"
        ],
        "description": "M8 — first-qub → second-qub activation cohort metric. DISTRIBUTION-STRATEGY.md §10.3.",
        "properties": {
          "cohort_size": {
            "type": "integer"
          },
          "activated_count": {
            "type": "integer"
          },
          "activation_rate": {
            "type": "number",
            "description": "`activated_count / cohort_size`, rounded to 4 dp. Zero for an empty cohort."
          },
          "lookback_days": {
            "type": "integer"
          },
          "activation_window_days": {
            "type": "integer"
          },
          "truncated": {
            "type": "boolean"
          }
        }
      },
      "KillCriterionEntry": {
        "type": "object",
        "required": [
          "tx_id",
          "sealed_at",
          "unlock_at",
          "watch_count",
          "creator_email",
          "intent"
        ],
        "properties": {
          "tx_id": {
            "type": "string"
          },
          "sealed_at": {
            "type": "integer"
          },
          "unlock_at": {
            "type": ["integer", "null"]
          },
          "watch_count": {
            "type": "integer"
          },
          "creator_email": {
            "type": "string",
            "format": "email"
          },
          "intent": {
            "type": ["string", "null"]
          }
        }
      },
      "KillCriterionResponse": {
        "type": "object",
        "required": ["results", "params", "truncated"],
        "description": "M10 — qubs past the seeding window still below the watcher floor. DISTRIBUTION-STRATEGY.md §5.4.",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KillCriterionEntry"
            }
          },
          "params": {
            "type": "object",
            "required": [
              "sealed_after_hours",
              "watching_threshold",
              "max_age_days",
              "now"
            ],
            "properties": {
              "sealed_after_hours": {
                "type": "integer"
              },
              "watching_threshold": {
                "type": "integer"
              },
              "max_age_days": {
                "type": "integer"
              },
              "now": {
                "type": "integer"
              }
            }
          },
          "truncated": {
            "type": "boolean"
          }
        }
      },
      "ApiKeyProvisionedResponse": {
        "type": "object",
        "required": ["key"],
        "description": "Capability-bound retrieval response for a freshly provisioned API key. Before first delivery the binding is available for 15 minutes. First delivery opens a five-minute same-secret replay window for dropped-response recovery; the wrapped key and binding are then destroyed.",
        "properties": {
          "key": {
            "type": ["string", "null"],
            "description": "The raw `qub_sk_...` API key, or `null` if the key has not been provisioned yet (Stripe webhook still pending) or the five-minute replay window has ended."
          }
        }
      },
      "ApiKeyRotateResponse": {
        "type": "object",
        "required": ["key"],
        "properties": {
          "key": {
            "type": "string",
            "description": "The new raw `qub_sk_...` API key. The old key continues to work through the one-hour grace mapping (or until a newer rotation advances it)."
          }
        }
      },
      "ApiKeyReplaceResponse": {
        "type": "object",
        "required": ["key"],
        "properties": {
          "key": {
            "type": "string",
            "description": "The new raw `qub_sk_...` API key, returned only in the live response. The addressed lost or suspected-exposed credential is revoked immediately with no authentication grace."
          }
        }
      },
      "MyApiKeyEntry": {
        "type": "object",
        "description": "Customer-safe projection of an API key, surfaced by the `/developer/keys` dashboard. NEVER includes the raw key, the Stripe customer / subscription IDs, or any operator-side metadata. Exposes the full SHA-256 hash as `id` (used to address PATCH calls — knowing the hash without the raw secret doesn't help an attacker).",
        "required": [
          "id",
          "key_prefix",
          "label",
          "tier",
          "created_at",
          "last_used_at",
          "qubs_remaining",
          "qubs_total",
          "seals_used_this_period",
          "reads_used_this_period",
          "max_monthly_charge_usd",
          "billing_mode",
          "billing_status",
          "period_end",
          "ip_allowlist",
          "scope",
          "customer_disabled",
          "effective_disabled",
          "disable_reason",
          "admin_locked"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Full SHA-256 hash of the raw key. Used to route PATCH calls. Not a credential."
          },
          "key_prefix": {
            "type": "string",
            "description": "Last 8 hex chars of `id`. Cosmetic display identifier — the dashboard renders `…<key_prefix>`."
          },
          "label": {
            "type": ["string", "null"],
            "description": "Customer-set human-readable name (≤64 NFC code points). Null until set."
          },
          "tier": {
            "type": "string",
            "enum": ["free", "builder", "enterprise"]
          },
          "created_at": {
            "type": "integer"
          },
          "last_used_at": {
            "type": ["integer", "null"]
          },
          "qubs_remaining": {
            "type": "integer",
            "description": "Base allowance left this period. Allowed to go negative for Builder (overage indicator)."
          },
          "qubs_total": {
            "type": "integer"
          },
          "seals_used_this_period": {
            "type": "integer"
          },
          "reads_used_this_period": {
            "type": "integer"
          },
          "max_monthly_charge_usd": {
            "type": ["number", "null"],
            "description": "Customer-configurable monthly Stripe-charge cap (USD) for stripe_metered keys. Always null for prepaid_hard_cap keys, which cannot overage."
          },
          "billing_mode": {
            "type": "string",
            "enum": ["stripe_metered", "prepaid_hard_cap"],
            "description": "Determines whether usage above the included allowance is Stripe-metered or rejected until manual renewal."
          },
          "billing_status": {
            "type": "string",
            "enum": [
              "active",
              "past_due",
              "cancelled",
              "refunded",
              "disputed",
              "paused"
            ],
            "description": "Independent billing authority. Only `active` authenticates."
          },
          "period_end": {
            "type": ["integer", "null"],
            "description": "Unix period end for Lightning prepaid keys; null for Stripe-managed subscriptions."
          },
          "ip_allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Bare IPv4 / IPv6 literals or CIDR ranges. Empty = unrestricted. Up to 16 entries × 45 chars."
          },
          "scope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subset of `[\"upload\",\"seal\",\"read\",\"webhooks\"]`."
          },
          "customer_disabled": {
            "type": "boolean",
            "description": "Customer-owned pause flag; PATCH may change this without overriding billing or operator authority."
          },
          "effective_disabled": {
            "type": "boolean",
            "description": "Final authentication state after customer, operator, billing, and pending-period-reset authorities are applied."
          },
          "disable_reason": {
            "type": ["string", "null"],
            "enum": ["customer", "operator", "billing", "period_reset", null],
            "description": "The controlling reason when `effective_disabled` is true. The dashboard offers re-enable only for `customer`."
          },
          "admin_locked": {
            "type": "boolean",
            "description": "Operator refund/abuse lock that the customer cannot clear."
          }
        }
      },
      "MyApiKeysResponse": {
        "type": "object",
        "description": "Cookie-authenticated account projection. Never includes the raw API key, browser cookie/token, Stripe IDs, or operator metadata.",
        "required": ["ok", "email", "keys"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "email": { "type": "string", "format": "email" },
          "keys": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MyApiKeyEntry" }
          }
        }
      },
      "ApiKeyPatchRequest": {
        "type": "object",
        "description": "Partial update to an API key. Field absence = no change. Null where allowed = explicit clear. Validated server-side: `label` is ≤64 NFC code points and must not contain control characters; `max_monthly_charge_usd` is a non-negative finite number or null; each `ip_allowlist` entry is a bare IPv4/IPv6 literal or a CIDR range (rejected if `parseAllowlistEntry` returns null); `scope` must be a non-empty subset of `[\"upload\",\"seal\",\"read\",\"webhooks\"]`.",
        "properties": {
          "label": {
            "type": ["string", "null"]
          },
          "max_monthly_charge_usd": {
            "type": ["number", "null"]
          },
          "ip_allowlist": {
            "type": ["array", "null"],
            "items": {
              "type": "string"
            },
            "maxItems": 16
          },
          "scope": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["upload", "seal", "read", "webhooks"]
            },
            "minItems": 1
          },
          "disabled": {
            "type": "boolean"
          }
        }
      },
      "AdminKeyEntry": {
        "type": "object",
        "required": [
          "key_hash",
          "client_id",
          "tier",
          "qubs_remaining",
          "qubs_total",
          "reads_today",
          "max_reads_per_day",
          "webhook_limit",
          "disabled",
          "created_at"
        ],
        "properties": {
          "key_hash": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "tier": {
            "type": "string",
            "enum": ["free", "builder", "enterprise"]
          },
          "qubs_remaining": {
            "type": "integer"
          },
          "qubs_total": {
            "type": "integer"
          },
          "reads_today": {
            "type": "integer"
          },
          "max_reads_per_day": {
            "type": "integer"
          },
          "webhook_limit": {
            "type": "integer"
          },
          "disabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "integer"
          },
          "last_used_at": {
            "type": "integer"
          }
        }
      },
      "AdminKeyActionResponse": {
        "type": "object",
        "required": ["key_hash", "client_id"],
        "properties": {
          "key_hash": {
            "type": "string"
          },
          "disabled": {
            "type": "boolean",
            "description": "Present on `disable` / `enable` responses. Reflects the new value of the `disabled` flag."
          },
          "client_id": {
            "type": "string"
          },
          "max_monthly_charge_usd": {
            "type": ["number", "null"],
            "description": "Present on `cap` responses. Reflects the new monthly charge ceiling in USD; `null` means no cap is set."
          }
        }
      },
      "AdminKeyCapRequest": {
        "type": "object",
        "required": ["max_monthly_charge_usd"],
        "properties": {
          "max_monthly_charge_usd": {
            "type": ["number", "null"],
            "description": "New monthly charge ceiling in USD. Must be a non-negative number, or `null` to clear an existing cap. When set, the seal and read paths reject with 402 `MONTHLY_CAP_REACHED` once projected end-of-period overage would exceed this value."
          }
        }
      },
      "AttestationEntry": {
        "type": "object",
        "required": ["type", "verified_at"],
        "description": "One attestation bound to a keypair fingerprint. IDENTITY.md §3-4.",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["email", "x", "github", "google", "passkey", "handle"],
            "description": "Attestation type identifier. Phase 2 writes `email` (user-supplied) and `handle` (auto-allocated alongside email). Other values are Phase 3 additions."
          },
          "value": {
            "type": "string",
            "description": "Human-readable value: email address or handle. Absent for passkey entries."
          },
          "platform_id": {
            "type": "string",
            "description": "Stable platform ID for social attestations (Phase 3 only)."
          },
          "verified_at": {
            "type": "integer",
            "description": "Unix seconds UTC of the verification that produced this entry."
          }
        }
      },
      "AttestationRecord": {
        "type": "object",
        "required": ["attestations", "pubkey_alg", "created_at", "updated_at"],
        "description": "Public attestation record keyed by pubkey fingerprint. Returned by the lookup and verify endpoints.",
        "properties": {
          "found": {
            "type": "boolean",
            "const": true,
            "description": "Present as `true` on a found public lookup when `allow_missing=true`; omitted from the legacy lookup and mutation responses."
          },
          "attestations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttestationEntry"
            }
          },
          "pubkey_alg": {
            "type": "integer",
            "description": "`sig_alg` registry value (PROTOCOL.md §9.2). Phase 2 always `1` (ML-DSA-65)."
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          }
        }
      },
      "AttestationLookupMiss": {
        "type": "object",
        "additionalProperties": false,
        "required": ["found"],
        "description": "Explicit successful Layer 0 lookup result returned when `allow_missing=true`.",
        "properties": {
          "found": {
            "type": "boolean",
            "const": false
          }
        }
      },
      "KeyblobStateResponse": {
        "description": "Explicit account portable-key state returned when `format=state`.",
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "required": ["ok", "state", "account_id"],
            "properties": {
              "ok": { "type": "boolean", "const": true },
              "state": { "type": "string", "const": "no_primary_key" },
              "account_id": { "type": "string" }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": ["ok", "state", "account_id", "primary_fingerprint"],
            "properties": {
              "ok": { "type": "boolean", "const": true },
              "state": { "type": "string", "const": "empty" },
              "account_id": { "type": "string" },
              "primary_fingerprint": {
                "type": "string",
                "pattern": "^[0-9a-f]{64}$"
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "ok",
              "state",
              "account_id",
              "primary_fingerprint",
              "revision",
              "blob_b64url"
            ],
            "properties": {
              "ok": { "type": "boolean", "const": true },
              "state": { "type": "string", "const": "stored" },
              "account_id": { "type": "string" },
              "primary_fingerprint": {
                "type": "string",
                "pattern": "^[0-9a-f]{64}$"
              },
              "revision": { "type": "integer", "minimum": 1 },
              "blob_b64url": { "type": "string", "minLength": 1 }
            }
          }
        ]
      },
      "AttestationEmailBeginRequest": {
        "type": "object",
        "required": ["fingerprint", "email", "pubkey", "pubkey_alg"],
        "properties": {
          "fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$",
            "description": "SHA3-256 of the author public key, lower-case hex."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "pubkey": {
            "type": "string",
            "description": "Base64url-encoded ML-DSA-65 public key (1,952 bytes decoded)."
          },
          "pubkey_alg": {
            "type": "integer",
            "enum": [1],
            "description": "`sig_alg` registry value. Phase 2 only supports `1` (ML-DSA-65)."
          },
          "locale": {
            "type": "string",
            "description": "BCP 47 locale tag for the verification-code email body."
          }
        }
      },
      "AttestationEmailBeginResponse": {
        "type": "object",
        "required": ["expires_at"],
        "properties": {
          "expires_at": {
            "type": "integer",
            "description": "Unix seconds UTC at which the pending verification code expires (10 minutes after issue)."
          }
        }
      },
      "AttestationEmailVerifyRequest": {
        "type": "object",
        "required": ["fingerprint", "code", "timestamp", "signature"],
        "properties": {
          "fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "code": {
            "type": "string",
            "pattern": "^[0-9]{6}$",
            "description": "6-digit verification code delivered by email."
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix seconds UTC; must be within 120 seconds of Worker receipt."
          },
          "signature": {
            "type": "string",
            "description": "Base64url-encoded ML-DSA-65 signature (3,309 bytes decoded) over the IDENTITY.md §3.2 challenge."
          }
        }
      },
      "AttestationEmailDeleteRequest": {
        "type": "object",
        "required": ["fingerprint", "pubkey", "timestamp", "signature"],
        "properties": {
          "fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "pubkey": {
            "type": "string",
            "description": "Base64url-encoded ML-DSA-65 public key (1,952 bytes decoded). Must hash to the claimed fingerprint."
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix seconds UTC; must be within 120 seconds of Worker receipt."
          },
          "signature": {
            "type": "string",
            "description": "Base64url-encoded ML-DSA-65 signature over the IDENTITY.md §6.2 delete challenge."
          }
        }
      },
      "AttestationEmailDeleteResponse": {
        "type": "object",
        "required": ["deleted"],
        "properties": {
          "deleted": {
            "type": "boolean",
            "const": true
          }
        }
      },
      "HandleLookupResponse": {
        "type": "object",
        "required": ["fingerprint", "attestations"],
        "description": "Response from `GET /api/v1/handle/:handle`. The attestation record is the same public projection returned by the forward lookup endpoint.",
        "properties": {
          "fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$",
            "description": "Representative linked pubkey fingerprint selected to project the public attestation response. The handle belongs to the email-scoped logical identity, not to this individual key."
          },
          "attestations": {
            "$ref": "#/components/schemas/AttestationRecord"
          }
        }
      },
      "HandleRenameRequest": {
        "type": "object",
        "required": [
          "fingerprint",
          "current_handle",
          "new_handle",
          "pubkey",
          "pubkey_alg",
          "timestamp",
          "signature"
        ],
        "properties": {
          "fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "current_handle": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]{2,19}$",
            "description": "Normalised current handle (must match the record's handle entry)."
          },
          "new_handle": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]{2,19}$",
            "description": "Normalised target handle."
          },
          "pubkey": {
            "type": "string",
            "description": "Base64url-encoded ML-DSA-65 public key (1,952 bytes decoded). Must hash to `fingerprint`."
          },
          "pubkey_alg": {
            "type": "integer",
            "const": 1,
            "description": "`sig_alg` registry value. Phase 2 always `1` (ML-DSA-65)."
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix seconds UTC; must be within 120 seconds of Worker receipt."
          },
          "signature": {
            "type": "string",
            "description": "Base64url-encoded ML-DSA-65 signature over `QUB_IDENTITY_HANDLE_RENAME_V2 || fp || u64_be(len(utf8(current_handle))) || utf8(current_handle) || u64_be(len(utf8(new_handle))) || utf8(new_handle) || i64_be(timestamp)`. Lengths count UTF-8 bytes."
          }
        }
      },
      "HandleDeleteRequest": {
        "type": "object",
        "required": [
          "fingerprint",
          "current_handle",
          "pubkey",
          "timestamp",
          "signature"
        ],
        "properties": {
          "fingerprint": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "current_handle": {
            "type": "string",
            "description": "The handle being released. Bound into the V2 delete challenge and checked against the canonical `IdentityRecord.handle`; a mismatch returns `400 current_mismatch`."
          },
          "pubkey": {
            "type": "string",
            "description": "Base64url-encoded ML-DSA-65 public key. Must hash to `fingerprint`."
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix seconds UTC; must be within 120 seconds of Worker receipt."
          },
          "signature": {
            "type": "string",
            "description": "Base64url-encoded ML-DSA-65 signature over `QUB_IDENTITY_HANDLE_DELETE_V2 || fp || utf8(current_handle) || timestamp_be`."
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/upload-auth": {
      "post": {
        "x-audience": "external",
        "operationId": "uploadAuth",
        "summary": "Pre-check upload eligibility",
        "description": "Validates the device's entitlement tier and rate limits before uploading. Rate limited to 20 requests per 10 minutes per IP and 10 per 10 minutes per device.",
        "tags": ["Upload"],
        "security": [
          {
            "turnstile": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eligibility check result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadAuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Turnstile verification failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/upload": {
      "post": {
        "x-audience": "external",
        "operationId": "upload",
        "summary": "Upload already-sealed qub bytes",
        "description": "Accepts already-sealed bytes: an OuterWrapper for private delivery or bare SealedQubCbor for public delivery. Before acknowledgement, the artifact and exact individual-transaction publication state are synchronously written to durable R2. The route then attempts a transparency-log append when `LOG_DO` is configured; only a successful append adds `log_seq`, `receipt`, and `anchor_status` to the response, while append failure is currently fail-soft. The pre-signed individual permanent-storage transaction is posted asynchronously. `device_id` remains the anonymous quota/entitlement locator. A valid matching browser session may select the linked-account quota/history branch; without a cookie the route stays anonymous and MUST NOT follow `device_link`. A presented mismatched cookie returns `SESSION_DEVICE_MISMATCH`; other presented invalid/expired/revoked/unavailable authority fails closed instead of silently downgrading. Browser clients also supply Turnstile; API-key callers use their separate Bearer authority. A valid `Idempotency-Key` is required. The 24-hour replay is semantic-operation-bound: retry-ephemeral wrapper bytes/nonces and Turnstile tokens do not create a second mutation, while incompatible reuse returns `IDEMPOTENCY_KEY_CONFLICT`. Missing keys return `IDEMPOTENCY_KEY_REQUIRED`; strong idempotency failure returns `IDEMPOTENCY_UNAVAILABLE` without uploading.",
        "tags": ["Upload"],
        "security": [
          {
            "turnstile": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required stable operation key. Same-operation retries replay the original response and cannot consume quota or publish twice. MUST match `^[A-Za-z0-9._-]{1,255}$`.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._-]{1,255}$",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required — entitlement exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Turnstile verification failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large for the device's entitlement tier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Upstream permanent-storage failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/seal": {
      "post": {
        "x-audience": "external",
        "operationId": "seal",
        "summary": "Server-side seal (Builder)",
        "description": "Seals a plaintext qub server-side using drand timelock encryption, applies the AES-256-GCM outer wrapper, and durably schedules the exact signed transaction for permanent storage. Requires an API key with the `seal` scope, a strong `Idempotency-Key`, and a caller-generated 32-byte wrapper key in `wrapper_key_b64url`; subject to the API key's IP allowlist if configured. Trust-model note: the plaintext body and K pass through the Worker in memory (neither is persisted), unlike the client-side `/api/v1/upload` path. Body cap 50 KB. Maximum unlock horizon 10 years from now. Generate and retain K before the request. The response returns the same K for convenience, but the replay store deliberately strips it; after a lost first response, combine the replayed tx URL with the caller-retained `#K`. Per-API-key seal rate limits and per-period quotas are enforced.\n\n**Rate-limit / ceiling response codes** (429):\n\n- `RATE_LIMIT_API_KEY` — per-API-key in-window rate limit (default 60/min on Builder).\n- `DAILY_KEY_LIMIT` — per-API-key daily Arweave seal cap (default 100/day on prod).\n- `DAILY_ACCOUNT_LIMIT` — per-account aggregate daily cap (default 500/day on prod).\n\n`Idempotency-Key` is mandatory because sealing is billable and irreversible. Same-body retries replay the result for 24h instead of creating a second qub; incompatible key reuse returns `IDEMPOTENCY_KEY_CONFLICT`, missing strong authority returns `IDEMPOTENCY_UNAVAILABLE`, and a missing header returns `IDEMPOTENCY_KEY_REQUIRED`. The header MUST match `^[A-Za-z0-9._-]{1,255}$`. Concurrent or ambiguity-fenced retries return `IDEMPOTENCY_IN_FLIGHT`.",
        "tags": ["qubs"],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required Stripe-compatible idempotency key. Retries with the same key replay the original response for 24 hours and can never create a second billed/permanent seal. MUST match `^[A-Za-z0-9._-]{1,255}$`; missing or malformed values return 400.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._-]{1,255}$",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SealRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "qub sealed and uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SealResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API key required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
[...]
